<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
    <title>Browser location comparison</title>
    <meta name="description" content="Browser location comparison">
    <meta name="author" content="Diogo Monica (diogomonica.com)">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script>

      window.onload = function() {
        var startPos;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
	         compareWithIPLocation(position.coords.latitude, position.coords.longitude);
          }, function(error) {
            console.log("Error occurred. Error code: " + error.code);
          });
        }
      };
      
      function returnWithDecimalPoints(number, decimalPoints) {
        return Math.floor(number * 10 * decimalPoints) / (10 * decimalPoints);
      }

      function calculateDistance(lat1, lon1, lat2, lon2) {
        var R = 6371; // km
        var dLat = (lat2-lat1).toRad();
        var dLon = (lon2-lon1).toRad();
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) *
                Math.sin(dLon/2) * Math.sin(dLon/2) ;
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        return d;
      }

      Number.prototype.toRad = function() {
        return this * Math.PI / 180;
      }

    	function compareWithIPLocation(latitude, longitude) {
    	   var vpnDistance = 30; //km
    	   var xhr = new XMLHttpRequest();

         // Get IP location

    	   xhr.open('GET', 'http://furious-ocean-4996.heroku.com/locate');
    	   xhr.onload = function(e) {
    	     var data = JSON.parse(this.response);
      		 var distance = calculateDistance(latitude, longitude, data.latitude, data.longitude); 
      		 console.log("Distance: " + distance);

           // Fill the page with the location data
           document.getElementById("latitude").innerHTML = Math.floor(data.latitude * 100000)/100000;
           document.getElementById("longitude").innerHTML = Math.floor(data.longitude * 100000)/100000;
           document.getElementById("w3clatitude").innerHTML = Math.floor(latitude * 100000)/100000;
           document.getElementById("w3clongitude").innerHTML = Math.floor(longitude*100000)/100000;
           document.getElementById("distance").innerHTML = Math.floor(distance * 100)/100;
           document.getElementById("map").innerHTML = "<img src='http://maps.googleapis.com/maps/api/staticmap?&size=600x140&maptype=roadmap&markers=color:blue%7Clabel:W%7C" + latitude + "," + longitude + "&markers=color:green%7Clabel:I%7C" + data.latitude + "," + data.longitude + "&sensor=false'/>";
           document.getElementById("vpn").innerHTML = "<div class='alert alert-success'><b>Location Data Received!</b> The geolocation data was successfully received from your browser.</div>";
      	
           // Send data back to the server	
      		 var xmlhttp = new XMLHttpRequest();
           xmlhttp.open("POST","/location_save" );
      		 xmlhttp.send(latitude + ";" + longitude + ";" + data.latitude + ";" + data.longitude + ";" + distance);
    	  }
        xhr.send();
	     }
    </script>
	</head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Location Comparison</a>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="hero-unit">
      <h1>What is this?</h1>
      <h3>This website geolocates your browser using two distinct methods, and shows you the distance between them.</h3>
    </div>

    <div id="vpn"><div class='alert alert-error'><b>No Location Data!</b> You have to accept to share your location information for this page to work.</div></div>

    <div class="gradient"></div>

    <div class="feature-box" id="feature-1">
     <h1>IP Location</h1>
     <div class="thin claim">This is the location determined based on your IP Address.</div>
     <p>This location is usually pretty inaccurate and provides city-level <br /> resolution only.</p>

     <div class="shadow-box" id="shwbx-2"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div><div class="r"><div class="a"></div></div>
          <div class="thin claim">Latitude</div>
          <div id="latitude" class="big claim blue">0</div>
          <div class="ft">kms</div>
     </div>
     <div class="shadow-box" id="shwbx-3"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div><div class="r"><div class="a"></div></div>
          <div class="thin claim">Longitude</div>
          <div id="longitude" class="big claim blue">0</div>
          <div class="ft">kms</div>
     </div>
    </div>

<div class="gradient"></div>
        <div class="feature-box" id="feature-1">
     <h1>W3C Location</h1>
     <div class="thin claim">This is the location determined based on your browser's <br /> geolocation features.</div>
     <p>This location is usually pretty accurate when wireless network information <br /> is available.</p>

     <div class="shadow-box" id="shwbx-2"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div><div class="r"><div class="a"></div></div>
          <div class="thin claim">Latitude</div>
          <div id="w3clatitude" class="big claim blue">0</div>
          <div class="ft">kms</div>
     </div>
     <div class="shadow-box" id="shwbx-3"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div><div class="r"><div class="a"></div></div>
          <div class="thin claim">Longitude</div>
          <div id="w3clongitude" class="big claim blue">0</div>
          <div class="ft">kms</div>
     </div>
    </div>

    <div class="gradient"></div>
      <div class="feature-box" id="feature-2">
        <div class="shadow-box"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div> <div class="r"><div class="a"></div></div>
          <div id="distance" class="big claim blue">0</div>
          <div class="thin claim">kms</div>
        </div>
        <div id="map" class="thin claim">

        <img src="http://maps.googleapis.com/maps/api/staticmap?&size=600x150&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:S%7C40.782147,-73.015794&sensor=false"/>
      </div>
      </div>

      <div class="gradient"></div>
    <div class="feature-box" id="feature-1">
     <h1>More Information</h1>
     <div class="thin claim">Want to learn more about geolocation?!</div>
     <p>Go <a href="http://dev.w3.org/geo/api/spec-source.html">here</a> for the W3C geolocation API spec and <a href="http://www.maxmind.com/">here</a> for more information about Maxmind's <br /> IP Geolocation database. Also you can get the source-code for this page <a href="https://github.com/diogomonica/sinatra_geoip">here</a>. Enjoy.</p>

     <div class="shadow-box" id="shwbx-3"><div class="t"></div><div class="b"></div><div class="l"><div class="a"></div></div><div class="r"><div class="a"></div></div>
          <center>
          <div class="thin claim">Get the code!</div>
          <a href="https://github.com/diogomonica/sinatra_geoip"><img src="/github.png" width="110" height="70" style="left-padding:20px;"/></a></center>
     </div>
    </div>
    <div class="gradient"></div>
 
    </div>
    <footer> 
        <h2><a class="tzine" href="http://diogomonica.com">Engineered by Diogo Mónica</a></h2>
    </footer> 
  </body>
</html>
